<!doctype html>
<html lang="zh">
<head>
    <!-- META -->
    {{> header_meta}}

    <title>{{title}} - {{@app.site.name}}</title>

    <!-- Public  Stylesheets -->
    {{> header_pub}}
    
    <link rel="stylesheet" href="/public/css/pro/global-88cb6e42.css"/>
    
    <!-- Private Stylesheets -->
    {{{block "stylesheets"}}}

</head>
<body>

    <!-- Header -->
    {{> layout_header}} 

    <!-- Main -->
    <div class="main">
        <!-- Body -->
        {{{body}}}
    
        <!-- Footer -->
        <footer class="animated fadeInUp">
            <div class="container text-right">
                {{@app.year}} © 「MT.Notes」 •  Based On Node & <i class="fa fa-github"> Github</i>.
            </div>
        </footer>        
    </div>

    <!-- Public  scripts -->
    {{> footer_pub}}
        
    <!-- Private scripts -->
    {{{block "scripts"}}}

</body>
</html>