{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/public/css/pro/docs-multi-2ae66bd9.css"/>
{{/extend}}
    
    <div class="docs">
        <div class="container">  
            
            <div class="row">
                <div class="col s12 m12">
                    {{#if pageContent.render}}
                        
                        <h5>Document</h5>
                        <ul class="collection">
                            
                            <li class="collection-item">
                                <a href="/docs/{{pageContent.category}}">..</a>
                            </li>            
                            {{#each pageContent.content}}
                                <li class="collection-item">
                                    <a href="/docs/{{path}}">{{name}}</a>
                                </li>
                            {{/each}}
                        </ul>   
                    
                    {{else}}
                                
                        <div class="truncate">
                            <pre>Something wrong, you may try again.</pre>
                            {{pageContent.content}}
                        </div>
            
                    {{/if}}                    
                </div>
            </div>
            
                                   
        </div>

    </div>

{{#extend "scripts"}}
{{/extend}}
