{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/public/css/pro/docs-multi-a1d3f1b6.css"/>
{{/extend}}
    
    <div class="docs">
        <div class="container">  
            
            <div class="row">
                <div class="col s12 m12">
                    {{#if pageContent.render}}
                        
                        <h5 class="title"><i class="fa fa-file"></i>Documents</h5>
                        <ul class="collection dir-ul">
                            
                            <li class="collection-item">
                                <a href="/docs/{{pageContent.category}}"><i class="fa fa-file"></i>..</a>
                            </li>            
                            {{#each pageContent.content}}
                                <li class="collection-item">
                                    <a href="/docs/{{path}}"><i class="fa fa-file"></i> {{name}}</a>
                                </li>
                            {{/each}}
                        </ul>   
                    
                    {{else}}
                                
                        <div class="truncate">
                            <pre>Something wrong, you may try again.</pre>
                            {{pageContent.content}}
                        </div>
            
                    {{/if}}                    
                </div>
            </div>
            
                                   
        </div>

    </div>

{{#extend "scripts"}}
{{/extend}}
