<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>

	<% include ../tmpl/header_meta.ejs %>

	<title><%= pageTitle %> - <%= settings.site.name %></title>

	<% include ../tmpl/header_pub.ejs %>

	<link rel="stylesheet" href="/public/css/css-page/blog-posts.min.css">

	<!-- GLOBAL JAVASCRIPT -->
	<script>
		JS_PAGE_NAME = 'none';
	</script>

	<% MENU_ACTIVE = 'Blog'; %>

</head>
<body>

<div class="wrap">

	<div class="layout">

		<% include ../tmpl/layout_header.ejs %>

		<div class="main">

			<div class="row inner">
				<div class="col-12">

					<!--Post-Content-->
					<% var post = pageContent.post; %>
					<div class="panel post">
						<div class="panel-header">
							<div class="title">Mood</div>
						</div>
						<div class="panel-body">
							<div class="post-title">
								<h3><a href="/blog/post/<%= post._id %>"><%= post.name %></a></h3>
							</div>
							<div class="post-content">
								<%- post.content %>
							</div>

						</div>
						<div class="panel-footer">
							<div class="post-meta">
								<div class="inner">
									<span class="post-date left"><%= post.date %></span>
									<span class="post-author right"><%= post.author %></span>
								</div>
							</div>
						</div>
					</div>

					<!-- Comments -->
					<% include ../tmpl/layout_comments.ejs %>
				</div>
			</div>


		</div>

		<% include ../tmpl/layout_footer_two.ejs %>

	</div>

</div>

<% include ../tmpl/footer_pub.ejs %>
<% include ../tmpl/footer_sea.ejs %>

</body>
</html>