<div class="header">
	<div class="row inner">
		<div class="col-12 nav">
			<div class="nav-brand">
				<a href="/"><%= settings.site.name %></a>
			</div>
			<div class="nav-ul-toggle">
				<a href=""><img src="/public/images/icons/1x/icon-nav-ul-toggle.png" alt=""/></a>
			</div>
			<ul class="nav-ul right">

				<%
				var menu = [
					{name: 'Home', link: '/'},
					{name: 'Blog', link: '/blog'},
					{name: 'Docs', link: '/docs'},
					{name: 'Labs', link: '/labs'},
					{name: 'Fm', link: '/fm'},
					{name: 'About', link: '/about'}];
				%>

				<% menu.forEach(function (menuItem) { %>

					<% if(menuItem.name === MENU_ACTIVE ){ %>

						<li class="active"><a href="<%= menuItem.link %>"><%= menuItem.name %></a></li>

					<% }else{ %>

						<li><a href="<%= menuItem.link %>"><%= menuItem.name %></a></li>

					<% } %>

				<% }); %>

			</ul>

		</div>
	</div>
</div>