<!doctype html>
<html lang="zh">
<head>
    <!-- META -->
    {{> header_meta}}

    <title>{{title}} - {{@app.site.name}}</title>

    <!-- Public  Stylesheets -->
    {{> header_pub}}
    
    <link rel="stylesheet" href="/public/css/dev/global.css"/>

    <!-- Private Stylesheets -->
    {{{block "stylesheets"}}}

</head>
<body>

    <!-- Header -->
    {{> layout_header}} 
    
    <!-- Main -->    
    <div class="main">
        <!-- Body -->
        {{{body}}}
        
    </div>

    <!-- Public  scripts -->
    {{> footer_pub}}
    
    <!-- Private scripts -->      
        <script>
            var MSG = '\n' +
            '偷偷在这里放个信息吧 T.T 所以呢:\n\n'+
            '1.目前在一家年轻的创业公司工作，为梦想努力一把，坐标深圳哦~ \n'+
            '2.自己造轮子不好玩，有兴趣一起造轮子的童鞋请邮件或者微博联系我~\(≧▽≦)/~啦啦啦 \n\n'+
            'Mail: thonatos.yang@gmail.com';
            console.log(MSG);    
        </script>
    
    {{{block "scripts"}}}
    
</body>
</html>