<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

	<% include ../tmpl/header_meta.ejs %>

	<title><%= pageTitle %> - <%= settings.site.name %></title>

	<% include ../tmpl/header_pub.ejs %>

	<link rel="stylesheet" href="/public/css/css-page/docs-multi.min.css">

	<!-- GLOBAL JAVASCRIPT -->
	<script>
		JS_PAGE_NAME = 'none';
	</script>

	<% MENU_ACTIVE = 'Docs'; %>

</head>
<body>

<div class="wrap">

	<div class="layout">

		<% include ../tmpl/layout_header.ejs %>

		<div class="main">
			<div class="document">
				<% if (pageContent.render){ %>

				<!--<h2 class="title">Documents - <%= pageContent.title %> </h2>-->
				<p class="title">List For Documents & Directory</p>

				<div class="content">
					<% if(pageContent.content.constructor == Array){ %>
					<ul>
						<% pageContent.content.forEach(function(obj){ %>
							<% if(obj.name !== '.gitignore'){ %>
								<li>
									<a href="/docs/<%= encodeURI(obj.path.toString()) %>"><%= obj.name.toString() %></a>
								</li>
							<% } %>
						<% }); %>
					</ul>
					<% }else{ %>
					<%= pageContent.content.message + ' . From ' + pageContent.content.documentation_url %>
					<% } %>
				</div>

				<% }else{ %>

				<p class="title">Can't get ?</p>

				<div class="content">
					<pre>Something wrong, you may try again.</pre>
					<%- pageContent.content %>
				</div>

				<% } %>

			</div>
		</div>

		<% include ../tmpl/layout_footer.ejs %>

	</div>

</div>

<% include ../tmpl/footer_pub.ejs %>
<% include ../tmpl/footer_sea.ejs %>

</body>
</html>

