<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

	<% include ../tmpl/header_meta.ejs %>

	<title><%= pageTitle %> - <%= settings.site.name %></title>

	<% include ../tmpl/header_pub.ejs %>

	<link rel="stylesheet" href="/public/css/css-page/docs-single.min.css">

	<!-- GLOBAL JAVASCRIPT -->
	<script>
		JS_PAGE_NAME = 'none';
	</script>

	<% MENU_ACTIVE = 'Docs'; %>

</head>
<body>

<div class="wrap">

	<div class="layout">

		<% include ../tmpl/layout_header.ejs %>

		<div class="main">
			<% if (pageContent.render){ %>

			<div class="document">
				<h3 class="title"><%= pageContent.title %></h3>

				<div class="content">
					<%- pageContent.content %>
				</div>

				<!-- Comments -->
				<% include ../tmpl/layout_comments.ejs %>

			</div>

			<% }else{ %>

			<div class="document">
				<h3 class="title">Can't get ?</h3>

				<div class="content">
					<pre>Something wrong, you may try again.</pre>
					<%= pageContent.content %>
				</div>
			</div>

			<% } %>

		</div>

		<% include ../tmpl/layout_footer_two.ejs %>

	</div>

</div>

<% include ../tmpl/footer_pub.ejs %>
<% include ../tmpl/footer_sea.ejs %>

</body>
</html>

