<!doctype html>
<html lang="zh">
<head>
    <!-- META -->
    {{> header_meta}}

    <title>{{title}} - {{@app.site.name}}</title>

    <!-- Public  Stylesheets -->
    {{> header_pub}}
    
    <link rel="stylesheet" href="/public/css/dev/global.css"/>
    
    <!-- Private Stylesheets -->
    {{{block "stylesheets"}}}

</head>
<body>

    <!-- Header -->
    {{> layout_header}} 

    <!-- Main -->
    <div class="main">
        <!-- Body -->
        {{{body}}}
    
        <!-- Footer -->
        <footer class="animated fadeInUp">
            <div class="container text-right">
                {{@app.year}} © 「MT.Notes」 •  Based On Node & <i class="fa fa-github"> Github</i>.
            </div>
        </footer>        
    </div>

    <!-- Public  scripts -->
    {{#if @app.env.dev}}
        <script src="/public/vendors/modernizr/modernizr.js"></script>
        <script src="/public/vendors/jquery/dist/jquery.min.js"></script>
    {{else}}
        <script src="//cdn.bootcss.com/modernizr/2.8.3/modernizr.min.js"></script>
        <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    {{/if}}
    
    <!-- Private scripts -->
    {{{block "scripts"}}}

</body>
</html>