<!doctype html>
<html lang="zh">
<head>
    <!-- META -->
    {{> meta}}

    <title>{{title}}</title>

    <!-- Public  Stylesheets -->
    {{#if @app.env.dev}}
        <link href="/public/vendors/normalize.css/normalize.css" rel="stylesheet">
        <link href="/public/vendors/skeleton/css/skeleton.css" rel="stylesheet">
        <link href="/public/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    {{else}}
        <link href="//cdn.bootcss.com/normalize/3.0.3/normalize.min.css" rel="stylesheet">
        <link href="//cdn.bootcss.com/skeleton/2.0.4/skeleton.min.css" rel="stylesheet">
        <link href="//cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    {{/if}}
    
    <!--<link rel="stylesheet" href="/public/css/pro/global-1c0abb0b.css"/>-->

    <!-- Private Stylesheets -->
    {{{block "stylesheets"}}}

</head>
<body>

    <!-- Header -->
    <div class="main">
        <!-- Body -->
        {{{body}}}
        
    </div>

    <!-- Public  scripts -->
    {{#if @app.env.dev}}
        <script src="/public/vendors/modernizr/modernizr.js"></script>
        <script src="/public/vendors/jquery/dist/jquery.min.js"></script>
    {{else}}
        <script src="//cdn.bootcss.com/modernizr/2.8.3/modernizr.min.js"></script>
        <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    {{/if}}

    <!-- Private scripts -->
    {{{block "scripts"}}}

</body>
</html>