<!doctype html>
<html lang="zh">
<head>
    <!-- META -->
    {{> header_meta}}

    <title>{{title}} - {{@app.site.name}}</title>

    <!-- Public  Stylesheets -->
    {{> header_pub}}
    
    <link rel="stylesheet" href="/public/css/pro/global-user-bab7c6ac.css"/>
    
    <style>
        html,
        body{
            height: 100%;
        }        
    </style>    
    <!-- Private Stylesheets -->
    {{{block "stylesheets"}}}

</head>
<body>
   
    <!-- Main -->
    <div class="main login-page">
        <!-- Body -->
        {{{body}}}
        
    </div>

    <!-- Public  scripts -->
    {{> footer_pub}}

    <!-- Private scripts -->
    {{{block "scripts"}}}

</body>
</html>